/* Layout Styles */
body {
  font-family: $base-font;
  font-size: $base-font-size;
  color: #222;
}

img {
  max-width: 100% !important;
  height: auto;
}

img.main-logo {
  margin: 20px 0;
  display: block;
}

.content-wrapper {
  @include span(4/5);
  @include shift(1/5);
  background: transparent;
  margin-left: -10px;
  z-index: -999;

  @include break-huge {
    @include col(1);
    @include unshift();
  }
}

.content {
  padding: 30px 60px;
}

// Images
img.aligncenter, div.wp-caption.aligncenter{
  display: block;
  margin: 40px auto;
}

img.alignright {
  max-width: 350px;
}

img.alignright, div.wp-caption.alignright {
  float: right;
  margin: 0 -100px 40px 40px;
}

p.wp-caption-text {
    color: $gray;
    font-family: $headline-font;
    font-size: .85rem;
    font-weight: 400;
    margin-top: 0;
    padding-right: 10px;
}

// Audio
audio {
  display: block;
  margin: 40px auto;
}

// Pagination

ul.pager {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-top: 40px;

  & li {
    display: inline;
    margin-right: 10px;
  }
  & li a {
    background: $green;
    color: #fff;
    font-family: $headline-font;
    font-size: 1.1rem;
    padding: 5px 10px;
  }
  & li a:hover {
    text-decoration: none;
    background: lighten($green, 10%);
  }
}
