/* Blog Page/Single Post Styles */
.content article {
  max-width: $content-container-width;
  margin: 30px 0;
//  background: #fff;

  & h1 {
    color: $dark-blue;
    margin: 0;
    border-top: 7px solid $yellow;
    padding-top: 10px;
  }
  & h2 {
    font-size: 2.2rem;
    margin: 0;
  }
  & p.post-date, & p.post-cats {
    font-style: italic;
    font-size: 1.2rem;
    color: #666;
    margin: 0;
  }
  & p.post-cats {
    border-top: 2px solid $light-gray;
    border-bottom: 2px solid $light-gray;
    margin-top: 40px;
    padding: 5px 15px;
  }
  & p.post-excerpt {
    max-width: 80%;
  }
  & a.post-link {
    @include transition(all 0.4s ease);
    border-left: 4px solid $yellow;
    text-decoration: none;
    display: block;
    padding: 10px 40px 10px 30px;
    & p {
      color: $base-font-color;
    }
    //border-bottom: 1px solid $green;
    &:hover {
      background-color: lighten($yellow, 40%);
    }
  }
}

article[class*="category-data-highlight"] {
  & h1 {
    border-top: 7px solid $green;
    padding-top: 10px;
  }
  & a.post-link {
    border-left: 4px solid $green;
    //border-bottom: 1px solid $green;
    &:hover {
      background-color: lighten($green, 40%);
    }
  }
}

article[class*="category-link-of-the-day"] {
  & h1 {
    border-top: 7px solid $blue;
    padding-top: 10px;
  }
  & a.post-link {
    border-left: 4px solid $blue;
    //border-bottom: 1px solid $green;
    &:hover {
      background-color: lighten($blue, 40%);
    }
  }
}

section.post-content {
  max-width: $max-content-width;
}

// Search form
form.blog-search-form {
  max-width: 270px;
  margin: 10px auto;
  font-family: $headline-font;
  font-weight: 500;

  & input[type="text"] {
    border: 2px solid #ccc;
    border-right: 0;
    color: #aaa;
    display: inline;
    float: left;
    padding: 4px 7px;
    font-size: 1.2rem;
    width: 200px;
  }
  & button[type="submit"] {
    border: 2px solid $green;
    color: #fff;
    display: inline;
    float: left;
    background-color: $green;
    font-size: 1.2rem;
    padding: 4px 7px;
    margin: 0;
  }
}
