/* Blog Page/Single Post Styles */
.content article {
  max-width: $content-container-width;
  margin: 30px 0;
//  background: #fff;

  & h1 {
    color: $dark-blue;
    margin: 0;
    border-top: 7px solid $yellow;
    padding-top: 10px;
  }
  & h2 {
    font-size: 2.2rem;
    margin: 0;
    &:first-child {
      margin-top: 20px;
    }
  }
  & p.post-date, & p.post-cats {
    font-style: italic;
    font-size: 1.2rem;
    color: #666;
    margin: 0;
  }
  & p.post-cats {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    margin-top: 40px;
    padding: 5px 15px;
  }
  & p.post-excerpt {
    max-width: 80%;
  }
  & a.post-link {
    @include transition(all 0.4s ease);
    border-left: 4px solid $yellow;
    text-decoration: none;
    display: block;
    padding: 10px 40px 10px 30px;
    & p {
      color: $base-font-color;
    }
    //border-bottom: 1px solid $green;
    &:hover {
      background-color: lighten($yellow, 40%);
    }
  }
}

article[class*="category-data-highlight"] {
  & h1 {
    border-top: 7px solid $green;
    padding-top: 10px;
  }
  & a.post-link {
    border-left: 4px solid $green;
    //border-bottom: 1px solid $green;
    &:hover {
      background-color: lighten($green, 40%);
    }
  }
}

article[class*="category-link-of-the-day"] {
  & h1 {
    border-top: 7px solid $blue;
    padding-top: 10px;
  }
  & a.post-link {
    border-left: 4px solid $blue;
    //border-bottom: 1px solid $green;
    &:hover {
      background-color: lighten($blue, 40%);
    }
  }
}

// Hero image for "feature" category
.feature-blog-hero {
  width: 100%;
  display: block;
  z-index: -999;
  & img {
    width: 100% !important;
  }
}

article[class*="category-feature"] {
  margin-top: 0;
  & div.post-header {
    position: absolute;
    top: 13%;
    left: 40px;
    width: 800px;

    @include break-massive {
      top: 10%;  
    }
    @include break-huge {
      top: 7%;
    }
  }
  & h1 {
    border: 0;
    color: #fff;
    @include text-shadow(2px, 2px, 2px, rgba(0, 0, 0, 0.5));
  }
  & p.post-date {
    color: #fff;
    @include text-shadow(1px, 1px, 1px, rgba(0, 0, 0, 0.5));
  }
  & p:first-child {
    margin-top: 0;
  }
}

section.post-content {
  max-width: $max-content-width;
}
