//Variables

// Layout
$content-container-width: 800px;
$max-content-width: 726px;

// Colors
$blue: #1992d1;
$dark-blue: #004E69;
$red: #c03a2a;
$green: #5c9b56;
$yellow: #efc319;
$gray: #777;
$light-gray: #eaeaea;


$footer-bg-color: $dark-blue;
$main-bg-color: $light-gray;


// Fonts
$base-font: "freight-text-pro", Georgia, serif;
$headline-font: "canada-type-gibson", Helvetica, Arial, sans-serif;

// Font sizes
$base-font-size: 1.3rem;

// Font colors
$base-font-color: #333;
$link-color: $blue;

$nav-link-color: #fff;
$sidebar-headline-color: $dark-blue;
$form-value-color: #aaaaaa;



// Media query break points (they're mixins)
// huge: 1200px
// large: 1080px;
// medium: 780px;
// small: 480px;
// tiny: 360px;
